.hello {
  position: absolute;
  /* z-index: 1; */
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
}
.open_chat {
  position: absolute;
  top: 100px;
}

._form {
  padding: 1rem;
}
._form__field {
  width: 100%;
}
