body {
  position: absolute;
  margin: 0;
}

.hello {
  position: absolute;
  /* z-index: 1; */
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
}
.open_chat {
  position: absolute;
  top: 100px;
}

._form {
  padding: 1rem;
}
._form__field {
  width: 100%;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
}

.App {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
}

.navbar-item {
  margin: 0 20px;
}
