@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
  --primary-color: #447e71;
  --primary-color-hover: #3d7467;
}

body,
body * {
  font-family: 'Raleway', sans-serif;
}

._btn {
  position: relative;
  display: inline-block !important;
  text-transform: none !important;
  font-size: 12px !important;
  padding: 0.4rem 0.8rem !important;
}
._btn__label {
  display: block !important;
}
._btn__icon,
.css-kp9ftd-MuiIcon-root {
  display: inline-block !important;
  margin-bottom: -8px !important;
}
._btn__icon svg {
  display: block !important;
}

._section {
  margin: 60px 0;
  padding: 0 15px;
}
._container {
  max-width: 1200px;
  margin: 0 auto;
}
._container--800px {
  width: 800px;
}

._textCenter {
  text-align: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

._btnCustom {
  background-color: var(--primary-color) !important;
  text-transform: none !important;
  padding: 6px 2.5rem !important;
}
._btnCustom:hover {
  background-color: var(--primary-color-hover) !important;
}

.menu--center a {
  display: block;
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  transition: 0.2s all;
}
.menu--center a:hover,
.menu__item--active a {
  background-color: var(--primary-color-hover);
}

.schoolPage .navbar {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}
