.Home_background {
  font-family: 'Playfair Display', serif;
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homepage_title_container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 8rem;
}
.homepage_wrapper {
  position: absolute;
}
.homepage_title {
  position: relative;
  font-size: 5rem;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 350px;
}
.tagline {
  display: flex;
  justify-content: center;
}
.gif {
  width: 16px;
  height: 32px;
}
.reading_anim {
  position: absolute;
  top: 60px;
  right: 40px;
}
.adam_anim {
  position: absolute;
  top: 60px;
  right: 15px;
}
.mark_anim {
  position: absolute;
  top: 60px;
  left: 90px;
  z-index: 1;
}
.signin_button {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.signin_button button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #183a1d;
  color: white;
}
.signin {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #183a1d;
  color: white;
}
.signin_button button:hover {
  cursor: pointer;
}
.Home_nav {
  background-color: white;
  z-index: 3;
  overflow: hidden;
  position: sticky;
  height: 70px;
  top: 0;
  box-shadow: 3px -5px 4px 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  padding-left: 20px;
}
.Home_nav_options {
  display: flex;
  outline: none;
  list-style: none;
  margin: 10px 30px;
}
.Home_nav_options > li {
  margin: 0px 80px;
}
.Home_nav_options > li:hover {
  cursor: pointer;
}

.Home_bottom {
  padding: 0 10vw 0 10vw;
  font-family: 'Playfair Display', serif;
}

.Home_bottom h1 {
  font-size: 40px;
  font-style: italic;
  font-weight: bolder;
}

.Home_bottom p {
  text-align: justify;
}

.pricing_elements {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.element_1,
.element_2,
.element_3 {
  margin: 5px 20px 15px 20px;
  border: black solid;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.pricing_elements p {
  text-align: center;
}

.pricing_elements .title {
  color: white;
  padding: 15px 20px 15px 20px;
  font-size: x-large;
  border-radius: 5px 5px 0 0;
}

.pricing_elements .inner > * {
  padding: 15px 15px 15px 15px;
}

.pricing_elements .price {
  font-size: x-large;
}

.pricing_elements button {
  width: 80%;
  padding: 10px 0 10px 0;
  color: white;
  border-radius: 30px;
  text-transform: uppercase;
  border: none;
}

.pricing_elements button:hover {
  cursor: pointer;
}

.pricing_elements .price_advantage {
  font-weight: bold;
}

.element_1 .title,
.element_1 button {
  background-color: rgb(160, 31, 31);
}

.element_2 .title,
.element_2 button {
  background-color: #183a1d;
}

.element_3 .title,
.element_3 button {
  background-color: rgb(23, 23, 117);
}
